//********************************* 
//* CARD-SUBSCRIPTION
//*********************************
.subscription {
    background-color: map.get(abs.$clr, 'dk', 'cyan-200');
    color: map.get(abs.$clr, 'white');

    &__paragraph {
        &:first-of-type {
            margin-block: 1rem;
            font: {
                size: 3rem;
                weight: 700;
            }
        }

        &-element {
            margin-inline-start: .5rem;
            font: {
                size: initial;
                weight: 400;
            }
            vertical-align: 25%;
            color: map.get(abs.$clr, 'lt', 'blue-200');
        }

        &:last-of-type { margin-block: 1rem 3rem; }
    }
}