//********************************* 
//* CARD-CONTAINER 
//*********************************
.card {
    &-component {
        @include less.grid($rows: repeat(3, auto));
        margin-block-start: 4rem;
        inline-size: clamp(20rem, 90%, 65rem);
        @include less.shadow
        (
            $type: 'box', 
            $blur: 2rem,
            $color: color.change(map.get(abs.$clr, 'black'), $alpha: .1)
        );
        border-radius: 1rem;
        overflow: hidden;
        @include less.query($device: 'mobile', $size: 'xl') {
            @include less.grid($rows: repeat(2, auto), $cols: repeat(2, 1fr));
        }
        @include less.query($device: 'tablet', $size: 'sm') {
            position: absolute;
            inset: {
                block-start: 50%;
                inline-start: 50%;
            }
            transform: translate(-50%, -50%);
            margin: 0;
        }

        > * { 
            padding: 2rem; 
            @include less.query($device: 'mobile', $size: 'xl') {
                padding: 2rem 4rem;
            }
        }
    }
}