//********************************* 
//* CARD-SUBSCRIPTION-BTN
//*********************************
.subscription {
    &__button {
        display: block;
        padding-block: 1.5rem;
        text-align: center;
        text-decoration: none;
        @include less.shadow
        (
            $type: 'box',
            $blur: .5rem,
            $color: color.change(map.get(abs.$clr, 'black'), $alpha: .3)
        );
        border-radius: .5rem;
        background-color: map.get(abs.$clr, 'dk', 'yellow-100');
        color: map.get(abs.$clr, 'white');
        transition: all 200ms ease-in-out;

        &:hover { 
            background-color: color.scale(map.get(abs.$clr, 'dk', 'yellow-100'), $lightness: -10%); 
        }
    }
}