//********************************* 
//* BASE 
//*********************************
html {
    font-size: 62.5%;
    @include less.box();
}

body {
    font: {
        family: map.get(abs.$ff, 'main');
        size: 1.6rem;
    }
    background-color: map.get(abs.$clr, 'lt', 'gray-100');
}

* { @include less.box(); }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

//********************************* 
//* TYPOGRAPHY 
//*********************************
h2 { font-size: 1.8rem; }

p { 
    font-size: 1.2rem; 
    @include less.query($device: 'mobile', $size: 'xl') {
        font-size: 1.6rem;
    }
}